<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="HELLO STEPHEN HOWS IT GOING?">
    <meta name="author" content="THE DANG PHUNG">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Coding Technologies{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'dark-bg': '#09090b',
                        'dark-secondary': '#111113',
                        'dark-accent': '#18181b',
                        'light-accent': '#27272a',
                    }
                }
            }
        }
    </script>
</head>
<body class="bg-dark-bg text-zinc-100 min-h-screen flex flex-col">


    <main class="flex-grow">
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            {% block content %}
            {% endblock %}
        </div>
    </main>

</body>
</html>
